.git
.github

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

bootstrap/cache/*.php

.env
.env.*

tests

README.md

docker-compose.yml

Dockerfile.old

npm-debug.log
yarn-error.log

.idea
.vscode

public/storage

coverage